* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  position: relative;
  height: 100dvh;
  background: linear-gradient(45deg, rgb(143, 5, 106) 50%, pink) no-repeat
    center/cover;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  label {
    font-size: 30px;
    color: white;
  }

  input {
    display: block;
    margin: 10px 0 10px 0px;
    background: rgba(98, 5, 119, 0.43);
    border-radius: 30px;
    border: none;
    outline-color: rgba(255, 255, 255, 0.447);
    padding: 5px 20px 5px 20px;
    color: pink;
    font-weight: 700;
    &::placeholder {
      color: rgba(255, 255, 255, 0.468);
    }
  }

  input[type="submit"] {
    margin-top: 40px;
    padding: 10px 50px 10px 45px;
    cursor: pointer;
    color: white;
    background-image: linear-gradient(90deg, rgb(104, 6, 108) 100%, pink);
    background-repeat: no-repeat;
    transition: ease-in 0.3s;
    background-position: -250px;
    &:hover {
      background-position: 0% 0%;
      transition: ease-in 0.2s;
    }
  }
}

fieldset {
  background-color: rgba(224, 223, 223, 0.285);
  padding: 20px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 30px rgb(86, 1, 64);
}

legend {
  color: white;
  font-weight: 700;
}

h1 {
  text-align: center;
  color: white;
  font-size: 80px;
}
